<div class="container">
<div class="row" style="text-align: center">
  <div class="col-md-12">
    <h1>PIZZA PIZZA!</h1>
    <img src="pizzaEveryday.jpg" alt="pizza_picture">

  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ol class="notDevouredPizzas">
  {{#each pizzas}}
    {{#unless isDevoured}}
      {{> pizzas/pizza-block isDevoured=true}}
    {{/unless}}
  {{/each}}
</ol>

  </div>
  <div class="col-md-6">
<ol class="devouredPizzas">
  {{#each pizzas}}
    {{#if isDevoured}}
    <li>{{pizza_name}}
      <button class="delete-pizza" style="float:right" data-id="{{this.id}}">Delete!</button>
    </li>
    {{/if}}
  {{/each}}
</ol>
  </div>
</div>
<div class="add">
<h4>Add a Pizza</h4>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="name"><br>
    <button type="submit" class="btn btn-danger">SUBMIT</button>
    </br>Enter the pizza you'd like to eat and click on SUBMIT button.
  </div>
</form>
</div>
</div>
